<html>
	<head>
		<title>10分钟-管理中心-用户管理-帖子管理</title>
		<meta charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="public/css/admin_main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
	</head>
	<body>
		<div class="main_admin_detail">
			<div class="title">帖子管理</div>
			<div class="attention">主题数:{$total}</div>
			<form class="detail_form"  action="../../admin/admin_detail_del.php" method="post">
				<ul class="form_ul">
					<li class="detail_li">
						<span class="biaoti">标题</span>
						<span class="plate">板块</span>
						<span class="auther">作者</span>
						<span class="respon">  回复/查看</span>
					</li>
					{if $info!=''}
					{foreach $info as $key =>$val}
					<li class="item_li">
						<input type="checkbox" name="id[]" value="{$val['id']}"  />
						<span class="biaoti"><a href="../../detail.php?id={$val['id']}" target="_blank">{$val['title']}</a></span>
						<span class="plate"><a href="../../list.php?classid={$val['classid']}" target="_blank">{$val['classname']}</a></span>
						<span class="auther">{$val['username']}</span>

						<span class="respon">{$val['reply']}/{$val['hits']}</span>
					</li>
					{/foreach}
					{/if}
					<li class="huishou">
						<input type="submit" value="删除主题" name="del" /><input type="submit" value="恢复主题" name="recover"/>
					</li>
				</ul>
			</form>
		</div>
	</body>
</html>