<html>
	<head>
		<title>管理中心</title>
		<meta charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="public/css/admin_main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
	<body>
		<div class="header">
			<div class="logo fl clearFix">
				<ul class="logo_ul">
					<li class="yellow">Discuz!</li>
					<li class="gray">Control Panel</li>
				</ul>
				<p class=""></p>
			</div>
			<div class="header_right">
				<div class="top">
					<ul class="top_ul fr clearFix"> 
						<li class="hello">你好，创始人<font>{$username}</font></li>
						<li class="out"><a  target="_blank">[退出]<a/></li>
						<li class="zdsy"><a href="../../index.php" target="_blank">站点首页</a></li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="bottom_ul">
						<li class="zdxx">
							<a href="###" onclick="top.left.location='../../admin/zhandian_menu.php';top.right.location='../../admin/admin_main.php'" >站点信息</a>
						</li>
						<li class="yhgl">
							<a href="###" onclick="top.left.location='../../admin/yonghu_leftmenu.php';top.right.location='../../admin/admin_member.php'" >用户管理</a>
						</li>
						<li class="bkgl">
							<a href="###"  onclick="top.left.location='../../admin/bankuai_leftmenu.php';top.right.location='../../admin/admin_category.php'">板块管理</a>
						</li>
						<li class="tzgl">
							<a href="###" onclick="top.left.location='../../admin/tiezi_leftmenu.php';top.right.location='../../admin/admin_detail.php'">帖子管理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr color="#b5cfd9" />
	</body>
<html>