<html>
	<head>
		<title>板块管理左菜单</title>
		<meta  charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="public/css/admin_main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
	</head>
	<body>
		<div class="leftmenu">
			<div class="menu_top">
				<ul class="menu_ul">
					<li class="zdxx"><a class="out" href="../../admin/admin_category.php" target="_blank"></a>
					<a href="../../admin/admin_category.php"  target="right" ><font>管理板块</font></a></li>
					
					<li class="yqlj">
					<a href="../../admin/admin_category_add.php"  class ="out" target="_blank">
					<a href="../../admin/admin_category_add.php"  target="right">添加板块</a></li>
				</ul>
			</div>
			<!--  底部超链接 -->
			<div class="phpxy">
				Powered by <a href="http://www.phpxy.com" target="_blank">phpxy</a>V2 &copy;2012,<a href="http://www.phpxy.com" target="_blank">phpxy Inc</a>
			</div>
		</div>
	</body>
</html>