<html>
	<head>
		<title>板块管理左菜单</title>
		<meta  charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="public/css/admin_main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
	</head>
	<body>

		<div class="leftmenu">

			<!--  上部菜单   -->
			<div class="menu_top">
				<ul class="menu_ul">
					<li class="zdxx">
					<a href="../../admin/admin_detail.php"  class ="out" target="right">
					<a href="../../admin/admin_detail.php" target="right" >帖子管理</a></li>
					
					<li class="yqlj">
					<a href="../../admin/admin_detail_del.php"  class ="out" target="_blank">
					<a href="../../admin/admin_detail_del.php" target="right" >帖子回收站</a></li>
					
					<li class="yqlj">
					<a href="../../admin/admin_detail_hf.php"  class ="out" target="_blank">
					<a href="../../admin/admin_detail_hf.php" target="right" >回帖管理</a></li>

					<li class="yqlj">
					<a href="../../admin/admin_detail_hf_del.php"  class ="out" target="_blank">
					<a href="../../admin/admin_detail_hf_del.php" target="right" >回帖回收站</a></li>
				</ul>
			</div>

			<!--  底部超链接 -->
			<div class="phpxy">
				Powered by <a href="http://www.phpxy.com" target="_blank">phpxy</a>V2 &copy;2012,<a href="http://www.phpxy.com" target="_blank" >phpxy Inc</a>
			</div>
		</div>
	</body>
</html>