<html>
	<head>
		<title>首页-10分钟学院</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="public/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
	</head>	
	<body>
		
		<div class="ml">
			<div class="ml_first">
				<i><img src="../../public/images/mine_icn.png"/><img  src="../../public/images/pt_item.png"/></i><b><a href="#">论坛</a></b>
			</div>
		</div>
		<!--提示-->
		<div class="info">
			<div class="info_div  ">
				<ul class="info_ul fr"  >
					<li><i><img src="./images/chart.png" /></i></li>
					<li class="first"><b class="tiezi">帖子:</b><font>11</font></li>
					<li class="second"><b class="vip">会员:</b><font>3</font></li>
					<li class="third"><b class="welcome">欢迎新会员:</b><font>admin</font></li>
				</ul>
			</div>
		<div>
		<!--主体部分main 的布局包括 php技术交流 程序人生-->
		<div class="main">
			<div class="php_bt">
				<h1 class="common">PHP技术交流</h1>
			</div>
			<div class="php">
				<div class="php_first">
					<div class="item">
						<div class="first_left fl clearFix">
							<div class="left_logo"> 
								<h1><img src="../../public/images/forum.gif"/></h1>
							</div>
							<div class="left_info">
								<ul class="left_info_ul">
									<li><a href="#">内核源码</a></li>
									<li>版主:<font>test001</font></li>
								</ul>
							</div>
						</div>
						<div class="first_right fr clearFix">
							<div class="right_num"> 
								<ul class="num_ul">
									<li class="look_info"><font>11</font>/9</li>
									<li> &nbsp; </li>
								</ul>
							</div>
							<div class="right_info">
								<ul class="right_info_ul">
									<li class="title"><a href="">本论坛超管账户、密码都是admin</a></li>
									<li  class="time">2017-7-30 13:00:30 admin</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="first_left fl clearFix">
							<div class="left_logo"> 
								<h1><img src="../../public/images/forum.gif"/></h1>
							</div>
							<div class="left_info">
								<ul class="left_info_ul">
									<li><a href="#">内核源码</a></li>
									<li>版主:<font>test001</font></li>
								</ul>
							</div>
						</div>
						<div class="first_right fr clearFix">
							<div class="right_num"> 
								<ul class="num_ul">
									<li class="look_info"><font>11</font>/9</li>
									<li> &nbsp; </li>
								</ul>
							</div>
							<div class="right_info">
								<ul class="right_info_ul">
									<li class="title"><a href="">本论坛超管账户、密码都是admin</a></li>
									<li  class="time">2017-7-30 13:00:30 admin</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="first_left fl clearFix">
							<div class="left_logo"> 
								<h1><img src="../../public/images/forum.gif"/></h1>
							</div>
							<div class="left_info">
								<ul class="left_info_ul">
									<li><a href="#">内核源码</a></li>
									<li>版主:<font>test001</font></li>
								</ul>
							</div>
						</div>
						<div class="first_right fr clearFix">
							<div class="right_num"> 
								<ul class="num_ul">
									<li class="look_info"><font>11</font>/9</li>
									<li> &nbsp; </li>
								</ul>
							</div>
							<div class="right_info">
								<ul class="right_info_ul">
									<li class="title"><a href="">本论坛超管账户、密码都是admin</a></li>
									<li  class="time">2017-7-30 13:00:30 admin</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="first_left fl clearFix">
							<div class="left_logo"> 
								<h1><img src="../../public/images/forum.gif"/></h1>
							</div>
							<div class="left_info">
								<ul class="left_info_ul">
									<li><a href="#">内核源码</a></li>
									<li>版主:<font>test001</font></li>
								</ul>
							</div>
						</div>
						<div class="first_right fr clearFix">
							<div class="right_num"> 
								<ul class="num_ul">
									<li class="look_info"><font>11</font>/9</li>
									<li> &nbsp; </li>
								</ul>
							</div>
							<div class="right_info">
								<ul class="right_info_ul">
									<li class="title"><a href="">本论坛超管账户、密码都是admin</a></li>
									<li  class="time">2017-7-30 13:00:30 admin</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--程序人生布局-->
			
		</div>
		
		<!--main 设计结束-->
		<!--超链接部分-->
		<div class="clj"> 
			<div class="waiwang">
				<span class="net">新浪</span>
				<span class="net_span">
					<ul class="net_ul">
						<li class="net_li"><a href="">新浪</a></li>
						<li class="company">网易</li>
					</ul>
				</span>
			</div>
			<div class="school">
				<span class="net">千锋</span>
				<span class="net_span">
					<ul class="net_ul">
						<li class="net_li"><a href="">千锋</a></li>
						<li class="company">php学院</li>
					</ul>
				</span>
			</div>
			<div class="huizong">
				<span><a href="">新浪</a></span>
				<span><a href="">百度</a></span>
				<span><a href="">漫游平台</a></span>
				<span><a href="">Yeswan</a></span>
				<span><a href="">我的领地</a></span>
				<span><a href="">千锋</a></span>
			</div>
		</div>
		<!--超链接结束-->
		 <hr class="fgx"/>
		 <!--底部布局开始-->
	</body>
	
</html>